
- for (var i =  0; i < res.length; ++i) {
- var idPost = res[i].id_post;
- var date = res[i].date;
- var content = res[i].content;
- var user = res[i]._user;
- var idUser = res[i].id_user
- var place = res[i]._place;
- var file = res[i]._file;
- var likes = res[i]._likes;
- var iLike = res[i]._iLike;
- var iFollow = res[i]._iFollow;


.row(style='float: center;' id="content"+idPost)
    .col.s12.m6
        .card.white.darken-4
          .card-content.black-text
            - if (idUser != idUs){
            span.card-title #{user}
            -}else{
            span.card-title yo
            -}    
            - if (file){
            .card-image
              img(src="/user-content/" + file, alt='Mountain View')
            -}else{
              p(style='color: #808080 !important; font-style: italic; font-size:large !important')
                | #{content}
            -};
          .card-action(style='padding-bottom: 50px')
            a.center.col.s3(onClick='like(#{idPost})')
              i.material-icons.left thumb_up
              - if (iLike > 0){
               span.like      
                | #{likes}
              - } else {
              span.like(style='color: #a0a0a0 !important')
                | #{likes}
              - }
            a.center.col.s3(href='sass.html')
              i.material-icons.left location_on
              | #{place}
            - if (idUser != idUs){
            a.center.col.s3(onClick='follow(#{idUser})')
              i.material-icons.left supervisor_account
              - if (iFollow > 0){
              span.follow
                | follow
              - } else {
              span.follow(style='color: #d0d0d0 !important')
                | unfollow           
              - }
             - }

- }
  
    
