
- for (var i =  0; i < dataPost.length; ++i) {
- var idPost = dataPost[i].id_post;
- var date = dataPost[i].date;
- var content = dataPost[i].content;
- var user = dataPost[i].user;
- var idUser = dataPost[i].id_user
- var place = dataPost[i]._place;
- var fileName = dataFiles[i]._nameFile;
- var fileFormat = dataFiles[i]._format;
- var fileUrl = dataFiles[i]._url;
- var likes = dataPost[i]._likes;
- var iLike = dataILike[i]._iLike;
- var iFollow = dataIFollow[i]._iFollow;


style.
	@media(max-width:400px){
		.item{
			width: 80%;
		}
	}
	@media(min-width:400px){
		.item{
			width: 60%;
		}
	}

.item(id="content"+idPost style="margin: auto !important;")
	input.idPost(type="hidden" value=idPost)
	.card.white.darken-4
		.card-content.black-text
			- if (idUser != idUs){
			span.card-title #{user}
			-}else{
			span.card-title yo
			-}    
			- if (fileName){
			.card-image
				img(src="/user-content/" + fileName, alt='Mountain View')
			-}else{
				p(style='color: #808080 !important; font-style: italic; font-size:x-large !important')
					| #{content}
			-};
		.card-action(style="padding-bottom: 40px")  
			a.col
				- if (iLike == 0){
				.right.like(style="padding-left: 10px")      
					| #{likes}
				- } else {
				b.right.like(style="padding-left: 10px")    
					| #{likes}
				- }
			a.center.col(onClick='like(#{idPost})')
				i.material-icons.right thumb_up

			a.left.col(href='sass.html')
				i.material-icons.left location_on
				| #{place}
			- if (idUser != idUs){
			a.center.col.s3(onClick='follow("#{idUser}")')
				- if (iFollow == 0){
				span.right.follow(style="padding-right: 10px")    
					| Follow
				- } else {
				span.right.follow(style="padding-right: 10px; color: #b0b0b0")    
					| Unfollow           
				- }
				- }

- }
