
- for (var i =  0; i < res.length; ++i) {
- var idPost = res[i].id_post;
- var date = res[i].date;
- var content = res[i].content;
- var user = res[i]._user;
- var idUser = res[i].id_user
- var place = res[i]._place;
- var file = res[i]._file;
- var likes = res[i]._likes;
- var iLike = res[i]._iLike;
- var iFollow = res[i]._iFollow;
- var valLikes = iLike > 0 ? likes + "*" : likes;
- var valFollow = iFollow > 0 ? "no seguir" : "seguir";



div(id='content'+ idPost)
    input(type="hidden" class="idPost" value=idPost )
    br
    | #{date}
    br
    | #{content}
    br
    | #{user}
    br
    | #{place}
    br
    - if (file){
    img(src="http://localhost:3000/user-content/" + file )    
    br    
    - }
    
    input(type="button" class="like" value=valLikes onClick="like(#{idPost})")
    br
    - if (idUs != idUser){
    input(type="button" class="follow" value=valFollow onClick="follow(#{idUser})")
    br
    - }

- }
    
  
    
