
- for (var i =  0; i < res.length; ++i) {
- var idPost = res[i].id_post;
- var date = res[i].date;
- var content = res[i].content;
- var user = res[i]._user;
- var idUser = res[i].id_user
- var place = res[i]._place;
- var file = res[i]._file;
- var likes = res[i]._likes;
- var iLike = res[i]._iLike;
- var iFollow = res[i]._iFollow;


style.
	@media(max-width:400px){
		.item{
			width: 80%;
		}
	}
	@media(min-width:400px){
		.item{
			width: 60%;
		}
	}

.item(id="content"+idPost style="margin: auto !important;")
	input.idPost(type="hidden" value=idPost)
	.card.white.darken-4
		.card-content.black-text
			- if (idUser != idUs){
			span.card-title #{user}
			-}else{
			span.card-title yo
			-}    
			- if (file){
			.card-image
				img(src="/user-content/" + file, alt='Mountain View')
			-}else{
				p(style='color: #808080 !important; font-style: italic; font-size:x-large !important')
					| #{content}
			-};
		.card-action
			a.col
				- if (iLike > 0){
				.right.like(style="padding-left: 10px")      
					| #{likes}
				- } else {
				b.right.like(style="padding-left: 10px")    
					| #{likes}
				- }
			a.center.col(onClick='like(#{idPost})')
				i.material-icons.right thumb_up

			a.left.col(href='sass.html')
				i.material-icons.left location_on
				| #{place}
			- if (idUser != idUs){
			a.center.col.s3(onClick='follow(#{idUser})')
				- if (iFollow == 0){
				span.right.follow(style="padding-right: 10px")    
					| Follow
				- } else {
				span.right.follow(style="padding-right: 10px; color: #b0b0b0")    
					| Unfollow           
				- }
				- }

- }
